<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
main {
  display: flex;
}
img-div {
  max-width: 1024px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
img {
  max-width: 1024px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 20%;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: aquamarine;
  margin: 10%;
}
h1 {
  text-align: center;
}
#image-div {
  align-items: center;
}
.centre {
  text-align: center;
}
p {
  margin: 5% 20% 5% 20%;
}
ul {
  margin: 0% 20% 10% 20%;
}
